version: '3.8'

services:
  # Backend API
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - redis
    networks:
      - app-network
    environment:
      - GIN_MODE=release
      - REDIS_URL=redis:6379
      - DB_HOST=postgres
      # Add other necessary env vars here or use .env file
    volumes:
      - ./config:/root/config

  # Frontend Next.js
  frontend:
    build:
      context: ../trivia-apinewfront # Assuming folder structure
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_URL: http://34.159.126.18:8080
    ports:
      - "80:3000" # Expose Frontend on port 80 (HTTP standard)
    networks:
      - app-network
    environment:
        # Client-side env vars must start with NEXT_PUBLIC_
      - NEXT_PUBLIC_API_URL=http://34.159.126.18:8080 # User's External IP
    restart: always

  postgres:
    image: postgres:13-alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=123456
      - POSTGRES_DB=trivia_db
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - app-network

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres-data:
  redis-data: