version: "3.8"

services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ../nginx/conf.d:/etc/nginx/conf.d:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - app
      - frontend
    restart: unless-stopped
    networks:
      - app-network

  app:
    build:
      context: .
      dockerfile: Dockerfile
    expose:
      - "8080"
    depends_on:
      - postgres
      - redis
    networks:
      - app-network
    environment:
      - GIN_MODE=release
      - REDIS_URL=redis:6379
      - DB_HOST=postgres
      - DB_JWT_KEY_ENCRYPTION_KEY=a1b2c3d4e5f60718293a4b5c6d7e8f90112233445566778899aabbccddeeff00
      - DATABASE_PASSWORD=123456
    volumes:
      - ./config:/root/config:ro
    restart: unless-stopped

  frontend:
    build:
      context: ../trivia-apinewfront
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_URL: https://qazaquiz.duckdns.org
        NEXT_PUBLIC_WS_URL: wss://qazaquiz.duckdns.org
    expose:
      - "3000"
    networks:
      - app-network
    environment:
      - NEXT_PUBLIC_API_URL=/api
      - NEXT_PUBLIC_WS_URL=wss://qazaquiz.duckdns.org
    restart: unless-stopped

  postgres:
    image: postgres:13-alpine
    expose:
      - "5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=123456
      - POSTGRES_DB=trivia_db
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - app-network
    restart: unless-stopped

  redis:
    image: redis:alpine
    expose:
      - "6379"
    volumes:
      - redis-data:/data
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge

volumes:
  postgres-data:
  redis-data:
